/nbproject
/gui/nbproject/private/
/nbproject/private/
/.idea/
/.vscode/
*.pyc
/gui/nbproject/
*.caffemodel
*.solverstate
/test/examples/mnist/sessions/*
/test/examples/mnist/logs/*
/test/examples/mnist/snapshots/*
/test/examples/mnist/mnist_test_lmdb/*.mdb
/test/examples/mnist/mnist_train_lmdb/*.mdb
/view_settings.txt
/test/examples/mnist/data/*
*.xml
*.py.orig
/barista.conf
/baristalog.txt
caffeVersions
/.vscode/
/sessions

